/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  #root, #__next {
    isolation: isolate;
  }

/* Fonts */
@font-face {
    font-family: norse-bold;
    src: 
        url("fonts/norse-bold-webfont.woff") format("woff"),
        url("fonts/norse-bold-webfont.woff2") format("woff2")
    ;
    font-weight: normal;
    font-style: normal;
}

body {
    display: flex;
}
h1 {
    color: #E1D7B7;
}

.img-section {
    width: 35vw;
    position: relative;
}

.background-img {
    height: 100vh;
    width: 100%;
    object-fit: cover;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 6px;
    padding: 8px;
    position: absolute;
    width: 100%;
    height: auto;
    top: 15%;
    background-color: #1E2A5E80;
}
.logo {
    height: 70px;
    color: #E1D7B7;
}

.header-text {
    font-family: "norse-bold", sans-serif;
    font-size: 50px;
    color: #E1D7B7;
}
.credits {
    position: absolute;
    width: 100%;
    height: auto;
    top: 95%;
    text-align: center;
    background-color: #1E2A5E80;
    color: #E1D7B7;
    font-size: smaller;
}

.credits a {
    color: #E1D7B7
}

.form-section {
    height: 100vh;
    width: 65vw;
    background-color: #55679C;
}