/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  #root, #__next {
    isolation: isolate;
  }
  input {
    appearance: none;
  }
/* Fonts */
@font-face {
    font-family: norse-bold;
    src: 
        url("fonts/norse-bold-webfont.woff") format("woff"),
        url("fonts/norse-bold-webfont.woff2") format("woff2")
    ;
    font-weight: normal;
    font-style: normal;
}

p, h1, h2, h3, h4, h5, h6, div, button{
  font-family: "Roboto", sans-serif;
  color: #E1D7B7;
}

/* Page CSS */
body {
    display: flex;
}
h1 {
    color: #E1D7B7;
}

.img-section {
    width: 35vw;
    position: relative;
}

.background-img {
    height: 100vh;
    width: 100%;
    object-fit: cover;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 6px;
    padding: 8px;
    position: absolute;
    width: 100%;
    height: auto;
    top: 15%;
    background-color: #1E2A5E80;
}
.logo {
    height: 70px;
    color: #E1D7B7;
}

.header-text {
    font-family: "norse-bold", sans-serif;
    font-size: 50px;
    color: #E1D7B7;
}
.credits {
    position: absolute;
    width: 100%;
    height: auto;
    top: 95%;
    text-align: center;
    color: #00000040;
    font-size: smaller;
}

.credits a {
    color: #00000040
}

.main-section {
    display: flex;
    flex-direction: column;
    gap: 32px;
    height: 100vh;
    width: 65vw;
    background-color: #55679C;
}

.hero-text-section {
  padding: 48px;
  padding-bottom: 16px;
  width: 100%;
}

.form-section {
  width: 100%;
  padding: 32px 48px;
  background-color: #7C93C3;
  box-shadow: 0px 8px 10px #00000020, inset 0px 2px 10px #00000010;
}

.form-section h1 {
  font-size: x-large;
  margin-bottom: 8px;
}
.form-section form {
  display: flex;
  flex-direction: row;
  gap: 64px;
}

.form-section form section{
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 35%;
}

.form-section input {
  border-radius: 8px;
  border: solid #4a467e90;
  width: 100%;
  padding: 2px 6px;
}

input:focus {
  border: lightblue solid;
  box-shadow: 0px 4px 8px #00000040;
}

input::placeholder {
  opacity: 0;
}
input:focus::placeholder {
  opacity: 1;
}
input:valid {
  border-color: #90ee9080;
}
input:invalid {
  border-color: #f0808080;
}

.button-section {
  width: 100%;
  padding: 8px 48px;
}

.button-section button {
  border: none;
  border-radius: 12px;
  color: white;
  padding: 6px 32px;
  background-color: #4a467e;
  box-shadow: 0px 4px 8px #00000020;
  margin-bottom: 16px;
}

.button-section a {
  text-decoration: none;
  color: #4a467e;
}